#test-swipe-1{
  margin-top:2px;
  padding:20px;
}
#test-swipe-2{
  margin-top:0px;
  padding:5px;
}
#test-swipe-3{
  margin-top:0px;
  padding:20px;
}
#test-swipe-4{
  margin-top:0px;
  padding:20px;
}

#map{
  margin:auto;
  width:400px;
  height:400px;
}


@media only screen and (min-width: 768px) {
    /* For desktop: */
    #map{
      width:700px;
      height:400px;

    }
}

@media only screen and (max-width: 600px) {

  #map{
    width:200px;
    height:300px;

  }
}

.tabs{
  border-bottom:2px solid red;
}
